.site{
    padding: 15px 0;
}
.content-body .title{
    padding-bottom: 20px;
}
.content-body .site span{
    padding: 0 5px;
}
.content-body .version{
    zoom:1;
}
.content-body .version:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.content-body .version .current{
    width:240px;
    height:32px;
    background: url("img/CurrentVersionbg.png") no-repeat;
    float: left;
}
.content-body .version .current span{
    color: #FFF;
    font-size: 14px;
    line-height: 32px;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}
.content-body .version .current .ver{
    color: #0098d2;
}
.content-body .version .more{
    display: none;
    width: 136px;
    height:32px;
    background: url("img/ChooseVersion.png") no-repeat;
    float: left;
    margin-left:18px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.content-body .version .more span{
    line-height: 32px;
    color: #7b7b7b;
    padding: 0 10px;
}
.content-body .version .more ul{
    border:1px solid #eaeaea;
    background-color: #FAFAFA;
}
.content-body .version .more ul li{
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}
.content-body .version .more ul a{
    display: block;
    color: #7b7b7b;
}
.content-body .version .more ul .e6{
    background-color: #e6e6e6;
}

.content-body .table{
    margin-top: 22px;
    border: 1px solid #eaeaea;
    border-radius: 5px;;
}
.content-body .table table{
    color: #687084;
    width:100%;
}
.content-body .table tbody tr{
    border-bottom: 1px solid #dce7ef;
    background-color: #FFF;
    cursor: pointer;
}
.content-body .table table thead{
    background: url("img/thead.png");
    background-size: 32px 100%;
}
.content-body .table tbody tr:last-child{
    border: none;
}
.content-body .table table td{
    padding-left: 22px;
}
.content-body .table table .mark{
    margin-right:15px;
    display: inline-block;
    height:12px;
    width:12px;
    background: url("img/unselect.png") no-repeat;
    position: relative;
    top:2px;
}
.content-body .table table .checked{
    background: url("img/selected.png") no-repeat;
}
.content-body .compress{
    margin: 30px 0;
}
.content-body .compress table .mark{
    border-radius: 20px;
}

.content-body .button .download{
    width: 198px;
    height: 44px;
    display: block;
    margin: 0 auto;
    background: url("img/Download.png") no-repeat;
}
.content-body .button .download:hover{
    background: url("img/DownloadHover.png") no-repeat;
}

.file{width: 376px;}
.size{width: 148px;}
.odd{background-color: #fcfdfe;}
.hidden{display: none;}