<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dati_ui_datiban.png</key>
			<dict>
				<key>width</key>
				<integer>596</integer>
				<key>height</key>
				<integer>299</integer>
				<key>originalWidth</key>
				<integer>596</integer>
				<key>originalHeight</key>
				<integer>299</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>line_ui_ban2.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>line_ui_ban3.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>line_ui_xian2.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>299</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>line_ui_xian3.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>299</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>line_ui_xian4.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>299</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>line_ui_xian5.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>LINEXM~11.png</string>
			<key>realTextureFileName</key>
			<string>LINEXM~11.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>