<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_copy/AoSiDunZhiCheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,470},{218,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,195}}</string>
                <key>sourceSize</key>
                <string>{218,195}</string>
            </dict>
            <key>ui_copy/AoSiDunZhiChengWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,526},{218,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,195}}</string>
                <key>sourceSize</key>
                <string>{218,195}</string>
            </dict>
            <key>ui_copy/AoSiDunZhiChengWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,306},{218,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,195}}</string>
                <key>sourceSize</key>
                <string>{218,195}</string>
            </dict>
            <key>ui_copy/BeiJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,526},{572,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,172}}</string>
                <key>sourceSize</key>
                <string>{572,172}</string>
            </dict>
            <key>ui_copy/DiLaKeOuLa.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,470},{260,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,193}}</string>
                <key>sourceSize</key>
                <string>{260,193}</string>
            </dict>
            <key>ui_copy/DiLaKeOuLaWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,470},{260,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,193}}</string>
                <key>sourceSize</key>
                <string>{260,193}</string>
            </dict>
            <key>ui_copy/DiLaKeOuLaWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{260,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,193}}</string>
                <key>sourceSize</key>
                <string>{260,193}</string>
            </dict>
            <key>ui_copy/HouYunCengPinJieB.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1894},{596,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,140}}</string>
                <key>sourceSize</key>
                <string>{596,140}</string>
            </dict>
            <key>ui_copy/HouYunYengPinJieA.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,401},{252,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,67}}</string>
                <key>sourceSize</key>
                <string>{252,67}</string>
            </dict>
            <key>ui_copy/KongJuFeiTu.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,748},{181,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,119}}</string>
                <key>sourceSize</key>
                <string>{181,119}</string>
            </dict>
            <key>ui_copy/KongJuFeiTuWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,700},{181,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,119}}</string>
                <key>sourceSize</key>
                <string>{181,119}</string>
            </dict>
            <key>ui_copy/KongJuFeiTuWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,627},{181,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,119}}</string>
                <key>sourceSize</key>
                <string>{181,119}</string>
            </dict>
            <key>ui_copy/MiShiZhiJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,700},{157,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,125}}</string>
                <key>sourceSize</key>
                <string>{157,125}</string>
            </dict>
            <key>ui_copy/MiShiZhiJingWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,746},{157,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,125}}</string>
                <key>sourceSize</key>
                <string>{157,125}</string>
            </dict>
            <key>ui_copy/MiShiZhiJingWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,263},{157,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,125}}</string>
                <key>sourceSize</key>
                <string>{157,125}</string>
            </dict>
            <key>ui_copy/QianJing.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,396},{995,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,70}}</string>
                <key>sourceSize</key>
                <string>{995,70}</string>
            </dict>
            <key>ui_copy/TieXueWangZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,314},{154,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,97}}</string>
                <key>sourceSize</key>
                <string>{154,97}</string>
            </dict>
            <key>ui_copy/TieXueWangZuoWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,158},{154,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,97}}</string>
                <key>sourceSize</key>
                <string>{154,97}</string>
            </dict>
            <key>ui_copy/TieXueWangZuoWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2},{154,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,97}}</string>
                <key>sourceSize</key>
                <string>{154,97}</string>
            </dict>
            <key>ui_copy/TongKuZhanChang.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1894},{161,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,147}}</string>
                <key>sourceSize</key>
                <string>{161,147}</string>
            </dict>
            <key>ui_copy/TongKuZhanChangWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1894},{161,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,147}}</string>
                <key>sourceSize</key>
                <string>{161,147}</string>
            </dict>
            <key>ui_copy/TongKuZhanChangWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{161,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,147}}</string>
                <key>sourceSize</key>
                <string>{161,147}</string>
            </dict>
            <key>ui_copy/YunDuoA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,374},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ui_copy/YunDuoB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,263},{123,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,75}}</string>
                <key>sourceSize</key>
                <string>{123,75}</string>
            </dict>
            <key>ui_copy/YunDuoC.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,306},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>ui_copy/YunDuoD.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,263},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>ui_copy/ZhongJingDiMian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1491,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1491,259}}</string>
                <key>sourceSize</key>
                <string>{1491,259}</string>
            </dict>
            <key>ui_copy/ZuZhouZhiGu.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,468},{215,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,157}}</string>
                <key>sourceSize</key>
                <string>{215,157}</string>
            </dict>
            <key>ui_copy/ZuZhouZhiGuWaiFaGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,690},{215,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,157}}</string>
                <key>sourceSize</key>
                <string>{215,157}</string>
            </dict>
            <key>ui_copy/ZuZhouZhiGuWeiJieSuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,526},{215,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,157}}</string>
                <key>sourceSize</key>
                <string>{215,157}</string>
            </dict>
            <key>ui_copy/btn_purchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,364},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>ui_copy/copy_bg_resbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,2},{447,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,48}}</string>
                <key>sourceSize</key>
                <string>{447,48}</string>
            </dict>
            <key>ui_copy/copy_bg_typebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,526},{227,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,62}}</string>
                <key>sourceSize</key>
                <string>{227,62}</string>
            </dict>
            <key>ui_copy/copy_blank_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,177},{351,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,127}}</string>
                <key>sourceSize</key>
                <string>{351,127}</string>
            </dict>
            <key>ui_copy/copy_btn_add01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>ui_copy/copy_btn_add02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>ui_copy/copy_btn_boss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,263},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>ui_copy/copy_btn_boss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,263},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>ui_copy/copy_btn_childbig01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,306},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>ui_copy/copy_btn_childbig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,306},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>ui_copy/copy_btn_childsmall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,306},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>ui_copy/copy_btn_childsmall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,306},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>ui_copy/copy_btn_childsmall03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,306},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>ui_copy/copy_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,263},{207,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,96}}</string>
                <key>sourceSize</key>
                <string>{207,96}</string>
            </dict>
            <key>ui_copy/copy_btn_noraids.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,263},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>ui_copy/copy_btn_normaltype01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,364},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>ui_copy/copy_btn_normaltype02.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,306},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>ui_copy/copy_btn_protype01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,364},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>ui_copy/copy_btn_protype02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,306},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>ui_copy/copy_btn_raids.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,468},{134,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>ui_copy/copy_btn_raids1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,263},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>ui_copy/copy_btn_raids10.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,468},{134,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>ui_copy/copy_btn_raids2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,263},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>ui_copy/copy_btn_raids3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,263},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>ui_copy/copy_btn_stage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{137,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,48}}</string>
                <key>sourceSize</key>
                <string>{137,48}</string>
            </dict>
            <key>ui_copy/copy_btn_stage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,306},{157,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,66}}</string>
                <key>sourceSize</key>
                <string>{157,66}</string>
            </dict>
            <key>ui_copy/copy_cornerLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,2},{754,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{754,3}}</string>
                <key>sourceSize</key>
                <string>{754,3}</string>
            </dict>
            <key>ui_copy/copy_icon_connect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,52},{34,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,7}}</string>
                <key>sourceSize</key>
                <string>{34,7}</string>
            </dict>
            <key>ui_copy/copy_map_child_level0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{336,758},{1134,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1134,332}}</string>
                <key>sourceSize</key>
                <string>{1134,332}</string>
            </dict>
            <key>ui_copy/copy_map_child_level0_elite.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{1134,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1134,332}}</string>
                <key>sourceSize</key>
                <string>{1134,332}</string>
            </dict>
            <key>ui_copy/copy_map_midcornerL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,168},{79,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,114}}</string>
                <key>sourceSize</key>
                <string>{79,114}</string>
            </dict>
            <key>ui_copy/copy_map_midcornerR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,52},{79,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,114}}</string>
                <key>sourceSize</key>
                <string>{79,114}</string>
            </dict>
            <key>ui_copy/copy_ntc_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,284},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_copy/copy_raids_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,732},{20,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>ui_copy/copy_raids_scrollbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,88},{313,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,3}}</string>
                <key>sourceSize</key>
                <string>{313,3}</string>
            </dict>
            <key>ui_copy/copy_raids_under_vipbouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,52},{357,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,91}}</string>
                <key>sourceSize</key>
                <string>{357,91}</string>
            </dict>
            <key>ui_copy/copy_raids_vipbouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,145},{354,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,30}}</string>
                <key>sourceSize</key>
                <string>{354,30}</string>
            </dict>
            <key>ui_copy/copy_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,403},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ui_copy/copy_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ui_copy/copy_strengthL.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,364},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>ui_copy/copy_under_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,402},{224,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,66}}</string>
                <key>sourceSize</key>
                <string>{224,66}</string>
            </dict>
            <key>ui_copy/ntc_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,732},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>ui_copy/ntc_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,263},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>ui_copy/num_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,364},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,732},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>ui_copy/num_level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,364},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_copy.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d8ac35d5aae47ce0bd26a3325cd60cb:1/1$</string>
            <key>textureFileName</key>
            <string>ui_copy.png</string>
        </dict>
    </dict>
</plist>
